*,
*::after,
*::before {
    margin: 0; padding: 0;
    /* forces inheritance for box-sizing in body */
    box-sizing: inherit; 
}

html {
    /* 1rem = 10px on most default browser settings */
    font-size: 62.5%;
}

body {
    /* box-sizing will be inherited to the whole site */
    box-sizing: border-box; 
}